/*Some necessary adjustments*/

h1, body, html, main {
  margin: 0;

}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
  
}

body {
color: rgb(72, 65, 65);
font-weight: lighter;
margin: 50px;
}
/* Header styles */

header {
background-image: url('./images/soup.jpg');
background-size: cover;
background-position: center;
height: 400px;
display: flex;
justify-content: center;
align-items: center;
color: white;
margin: -30px;
margin-bottom: 60px;
}
h1 ,h2{
  font-weight: lighter;
}
p {
	margin-bottom: 50px;
}

.icons {
	word-spacing: 3px;
	text-align: center;
	margin-bottom: 50px;

}
table {
	margin: auto;
	border-collapse: collapse;
	
	   
}

   td:nth-child(2), th:nth-child(2) {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
   }
   td:nth-child(3), th:nth-child(3) {
	border-left: solid 3px gray;
	padding-left: 20px;
	padding-right: 20px;
   }
   td:nth-child(4), th:nth-child(4) {
	border-left: solid 3px gray;
	padding-left: 20px;
	padding-right: 20px;
   }

  				
ul {
	list-style-type: none;
}
  
ul li:before {
	content: '-';
	position: absolute;
	margin-left: -10px;

}
 
ol {
	list-style: none;
	counter-reset: num;
}

ol li {
	counter-increment: num;
}

ol li::before {
	content: counter(num) ") ";
}

